<p id="notice"><%= notice %></p>

<% user ||= current_user %>


<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :producer %>
    <%= form.text_field :producer %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date %>
  </div>

  <div class="field" style="display:none;">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="field" style="display:none;">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
