<h1>Utilisateurs</h1>

<p> <%= notice %> </p>

<ul>
  <li> <%= link_to("Accueil", "/home") %> </li>
  <% if user_signed_in?  %>
  <li>Compté connecté : <%= current_user.email %> </li>
  <li> <%= link_to("Voir les films", "/movies") %> </li>
  <li> <%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
  <li> <%= link_to("Utilisateurs", "/users") %> </li>
  <% else  %>
  <li>  <%= link_to("Login", new_user_session_path) %></li>
  <li>  <%= link_to("Inscription", new_user_registration_path) %></li>
  <% end  %>
</ul>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Date création</th>
      <th>Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <% if user.admin? %>
        <td><%= user.admin %></td>
        <% else %>
        <td> false </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
